#logoimg{
    border-radius: 8px;
    width: 50px;
    height: 45px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
    height: 60px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-links li{
    color: white;
    font-weight: bold;
    cursor: pointer;
}